{% load static %}
{% load svg%}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mainline</title>

        <!-- My editions CSS -->
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/my_leaflet.css" %}">

        <!-- Import CSS -->
        <link rel="stylesheet" type="text/css" href="{% static "css/materialize.min.css" %}">


        {% leaflet_js %}
        {% leaflet_css %}
    </head>
    <body>
        <header>
            <nav class="nav-wrapper indigo lighten-5">
                <a class="brand-logo center title"><object id="front-page-logo" class="responsive-img" width="170px" type="image/svg+xml" data="{% svg 'cliente' %}">Your browser does not support SVG.</object></a>
            </nav>
        </header>

        <main>
            {% block main %}{% endblock %}            
        </main>


        <footer class="page-footer indigo lighten-5">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
            

        <!-- Import scripts -->
        <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "js/jquery-ui.min.js" %}"></script>
        <script src="{% static "js/jquery.mask.js" %}"></script>
        <script src="{% static "js/Chart.bundle.min.js" %}"></script>
        <script src="{% static "js/popper.min.js" %}"></script>
        <script src="{% static "js/prefix-free.js" %}"></script>
        <script src="{% static "js/materialize.min.js" %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- My scripts -->
        <script src="{% static "js/chart-op.js" %}"></script>

        <script>
        /*
        $.ajax("{% static "json/cozinha_comunitarias.json" %}",{
            dataType: "json",
            success: addPopupsFromLocations,
            error: function(xhr, st, et) {
                console.warn(et);
            }
            })
        </script>

        <script type="text/javascript">

            var size = [50, 50],
                ancho = [22,94],
                popup = [3, -86]
        
            function map_init_basic (map, options) {
                
                var AtmIcon = L.icon({
                    iconUrl: '{% static "img/pin.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });

                var BaseIcon = L.icon({
                    iconUrl: '{% static "img/pin-25.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });

                var BateriaAusenteIcon = L.icon({
                    iconUrl: '{% static "img/pin-12.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });

                var BateriaFracaIcon = L.icon({
                    iconUrl: '{% static "img/bateria_fraca.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });

                var BateriaSemCargaIcon = L.icon({
                    iconUrl: '{% static "img/bateria_sem_carga.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });

                var ClienteOffIcon = L.icon({
                    iconUrl: '{% static "img/cliente_off.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });

                var ClienteOnIcon = L.icon({
                    iconUrl: '{% static "img/cliente_on.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });

                var ClienteSemComIcon = L.icon({
                    iconUrl: '{% static "img/cliente_sem_com.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });

                var DesarmadosIcon = L.icon({
                    iconUrl: '{% static "img/desarmados.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });

                var DisparosIcon = L.icon({
                    iconUrl: '{% static "img/disparos.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });

                var DisparosIsoIcon = L.icon({
                    iconUrl: '{% static "img/disparos_iso.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });

                var Os72hIcon = L.icon({
                    iconUrl: '{% static "img/os_72h.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });

                var Os92hIcon = L.icon({
                    iconUrl: '{% static "img/os_92h.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });

                var OsPenIcon = L.icon({
                    iconUrl: '{% static "img/os_pen.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });

                var PanicoIcon = L.icon({
                    iconUrl: '{% static "img/panico.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });

                var QuedaEnergiaIcon = L.icon({
                    iconUrl: '{% static "img/queda_energia.png" %}',
                
                    iconSize:     size,
                    iconAnchor:   ancho,
                    popupAnchor:  popup
                });


                
                /*
                // Download GeoJSON via Ajax
                $.getJSON("{% static "json/cozinhas_comunitarias.json" %}", function (latitude,logitude) {
                    // Add GeoJSON layer
                    L.marker(latitude,longitude).addTo(map);
                });
                */ 
        

                // COMBATE BASE
                 L.marker([-7.128360, -34.863939], {icon: BaseIcon}).addTo(map).bindPopup('COMBATE SEGURANÇA');
                
                // COZINHA COMUNITÁRIA
               var cozinha_gervazio = L.marker([-7.197451, -34.882398], {icon: AtmIcon}).bindPopup('COZINHA COMUNITÁRIA DO GERVÁSIO MAIA');
                cozinha_taipa = L.marker([-7.183281, -34.89717], {icon: AtmIcon}).bindPopup('COZINHA COMUNITÁRIA DO TAIPA');
                cozinha_bela_vista = L.marker([-7.156284, -34.883147], {icon: AtmIcon}).bindPopup('COZINHA COMUNITÁRIA DA BELA VISTA');
                cozinha_novais = L.marker([-7.154065, -34.898931], {icon: AtmIcon}).bindPopup('COZINHA COMUNITÁRIA DO BAIRRO DOS NOVAIS');
                cozinha_timbo = L.marker([-7.146334, -34.831493], {icon: AtmIcon}).bindPopup('COZINHA COMUNITÁRIA DO TIMBÓ');

                var cozinhas = L.layerGroup([
                  cozinha_gervazio,
                  cozinha_taipa,
                  cozinha_bela_vista,
                  cozinha_novais,
                  cozinha_timbo
                ]).addTo(map);

                // CRAS
                var cras_alto_mateus = L.marker([-7.142055, -34.91382], {icon: BateriaAusenteIcon}).addTo(map).bindPopup('CRAS Alto do Mateus');
                cras_cristo = L.marker([-7.165252, -34.872762], {icon: BateriaAusenteIcon}).addTo(map).bindPopup('CRAS Cristo/Rangel');
                cras_cruz_armas = L.marker([-7.146578, -34.888187], {icon: BateriaAusenteIcon}).addTo(map).bindPopup('CRAS Cruz das Armas');
                cras_ilha_bispo = L.marker([-7.12527, -34.900323], {icon: BateriaAusenteIcon}).addTo(map).bindPopup('CRAS Ilha do Bispo');
                cras_gramame = L.marker([-7.203479, -34.884697], {icon: BateriaAusenteIcon}).addTo(map).bindPopup('CRAS Gramame');
                cras_grotao = L.marker([-7.178329, -34.831493], {icon: BateriaAusenteIcon}).addTo(map).bindPopup('CRAS Grotao');
                cras_mandacaru = L.marker([-7.098642, -34.866382], {icon: BateriaAusenteIcon}).addTo(map).bindPopup('CRAS Mandacaru');
                cras_magabeira = L.marker([-7.172896, -34.843837], {icon: BateriaAusenteIcon}).addTo(map).bindPopup('CRAS Mangabeira');
                cras_padre_ze = L.marker([-7.105312, -34.867173], {icon: BateriaAusenteIcon}).addTo(map).bindPopup('CRAS Padre Ze');
                cras_sao_jose = L.marker([-7.106765, -34.840285], {icon: BateriaAusenteIcon}).addTo(map).bindPopup('CRAS Sao Jose');
                cras_valentina = L.marker([-7.204871, -34.849219], {icon: BateriaAusenteIcon}).addTo(map).bindPopup('CRAS Valentina');
                cras_gervasio_maia = L.marker([-7.19912, -34.881277], {icon: BateriaAusenteIcon}).addTo(map).bindPopup('CRAS Gervasio Maia');
                cras_pretecao_social = L.marker([-7.168458, -34.864095], {icon: BateriaAusenteIcon}).addTo(map).bindPopup('Proteção Social Basica');

                var cras = l.layerGroup([
                  cras_alto_mateus,
                  cras_cristo,cras_cruz_armas,
                  cras_ilha_bispo,cras_gramame,
                  cras_grotao,
                  cras_mandacaru,
                  cras_magabeira,
                  cras_padre_ze,
                  cras_sao_jose,
                  cras_valentina,
                  cras_gervasio_maia,
                  cras_pretecao_social,
                ]);

                var grayscale = L.tileLayer(mapboxUrl, {id: 'yourmap', attribution: mapboxAttribution});

                var circle = L.circle([-7.128360, -34.863939], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 1000
                }).addTo(map);

                var overlayMaps = {
                  "CRAS" : cras,
                  "Cozinhas" : cozinhas,
                };

                L.control.layers(overlayMaps).addTo(map);
            }
        </script>

        <script>
          $(document).ready(function(){
            $('.collapsible').collapsible();
          });
        </script>
    </body>
</html>