@font-face {
    font-family: 'GothamBold';
    src: local('GothamBold'),
         url('../static/fonts/GothamBold.ttf') format("truetype");
}

body{
    font-family: 'GothamBold';
    src: local('GothamBold'),
         url('../static/fonts/GothamBold.ttf') format("truetype");
}

#myChart{
    width: 100%;
    height: 100%;
}

.icones{
    width: 48px;
    height: 48px;
}